@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

@import './global.scss';
@import './reset.scss';

:root {
  font-family: Barlow, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h2 {
  line-height: clamp(4rem, 15dvw, 5.75rem);
  font-size: clamp(3.5rem, 12dvw, 5rem);
  font-family: $font;
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  line-height: clamp(1.75rem, 6dvw, 2.875rem);
  font-size: clamp(1.5rem, 5dvw, 2.5rem);
  font-family: $font;
  font-weight: normal;
  text-transform: uppercase;
}

h4 {
  line-height: clamp(1.125rem, 4dvw, 1.75rem);
  font-size: clamp(1rem, 3dvw, 1.5rem);
  font-family: $font;
  font-weight: normal;
  text-transform: uppercase;
  opacity: 0.5;
}

h5 {
  letter-spacing: 2.7px;
  font-size: clamp(1rem, 3dvw, 1.25rem);
  font-family: $subFont;
  font-weight: normal;
  text-transform: uppercase;
  color: $secondary;

  span {
    margin-right: 1.125rem;
    font-weight: bold;
    opacity: 0.25;
  }
}

p {
  line-height: clamp(1.5625rem, 4dvw, 1.75rem);
  color: $secondary;
  font-size: clamp(15px, 2.5dvw, 1rem);
}

main {
  padding: 0 1.5rem 6.5rem;
  text-align: center;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  main {
    padding: 2.5rem 2.5rem 3.875rem;
  }
}

@media screen and (min-width: 1366px) {
  h2 {
    font-size: 6.25rem;
    line-height: 7.8175rem;
  }

  h3 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  h4 {
    font-size: 2rem;
    line-height: 2.3125rem;
  }

  h5 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 2rem;
  }

  main {
    max-width: 1440px;
    padding: 4.75rem 10.2rem;
    margin: 0 auto;
    text-align: left;
  }
}

.subheading1 {
  padding: 0.75rem 0;
  font-size: 1.75rem;
  font-family: $font;
  text-transform: uppercase;
}

.subheading2 {
  font-size: 0.875rem;
  letter-spacing: 2.35px;
  font-family: $subFont;
  color: $secondary;
  text-transform: uppercase;
}
